<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.gui.zi.shu.shu</string>
	<key>connections</key>
	<dict>
		<key>86A1B35C-DA60-4893-A356-F246564D848C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBA2F446-C900-4F11-9841-B537DF513C53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD48775E-11EE-4191-AA21-A7E23D1F8621</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86A1B35C-DA60-4893-A356-F246564D848C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBA2F446-C900-4F11-9841-B537DF513C53</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>gui zi shu shu</string>
	<key>description</key>
	<string>生成彩字秀表情图</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>czxiu diy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string># -*- coding: UTF-8 -*-
# encoding: utf-8
# coding: utf-8

from workflow import web, ICON_WEB, Workflow
import sys
reload(sys)
sys.setdefaultencoding('UTF-8')
import json

wf = Workflow()
wf.add_item(title='举牌小人',
            arg=json.dumps((sys.argv[1], 'ju_pai_xiao_ren')),
            valid=True,
            icon='./ju_pai_xiao_ren.png')
wf.add_item(title='众举拳',
            arg=json.dumps((sys.argv[1], 'zhong_ju_quan')),
            valid=True,
            icon='./zhong_ju_quan.png')
wf.add_item(title='女泪',
            arg=json.dumps((sys.argv[1], 'nv_lei')),
            valid=True,
            icon='./girl_cry.png')
wf.add_item(title='可爱宝宝',
            arg=json.dumps((sys.argv[1], 'ke_ai_bao_bao')),
            valid=True,
            icon='./ke_ai_bao_bao.png')
wf.add_item(title='警告牌',
            arg=json.dumps((sys.argv[1], 'warn_board')),
            valid=True,
            icon='./warn_board.png')
wf.add_item(title='猫咪举爪',
            arg=json.dumps((sys.argv[1], 'mao_mi_ju_zhua')),
            valid=True,
            icon='./mao_mi_ju_zhua.png')
wf.add_item(title='森林黑板',
            arg=json.dumps((sys.argv[1], 'forest_backboard')),
            valid=True,
            icon='./forest_backboard.png')
wf.send_feedback()</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>输入文字生成表情图</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD48775E-11EE-4191-AA21-A7E23D1F8621</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># -*- coding: UTF-8 -*-
# encoding: utf-8
import sys
import json
import urllib
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

from workflow import web, ICON_WEB, Workflow
import datetime
import os
import subprocess

s1, type = json.loads(sys.argv[1])

csrf = 'iU69WvH7fJqOYcPH03_UAWHPGBHOtaJLEVUheuW99lS5CswUqLEa6vZRq-qbD7tjCPlNQOON1nhBABgshIiSGA%3D%3D'
if type == 'nv_lei':
    # 女泪
    # https://www.czxiu.com/cz/diy-1052.html#main
    _id = 1560
    params = {
        '_csrf': csrf,
        'ZDiyForm[xpos]': int(340 / 2 - min((len(s1), 14)) * 12.7),
        'ZDiyForm[ypos]': 178,
        'ZDiyForm[image]': '/assets/7bbc7da5/material/diy/old/1052.gif',
        'ZDiyForm[text]': s1,
        'ZDiyForm[font]': 'fzse.ttf',
        'ZDiyForm[color]': '#ffffff',
        'ZDiyForm[color2]': '',
        'ZDiyForm[size]': 24,
        'ZDiyForm[size_zoom]': 0,
        'ZDiyForm[repeat_type]': 'none',
        'ZDiyForm[move_type]': 'none',
        'ZDiyForm[hideSignature]': 0
    }
elif type == 'zhong_ju_quan':
    # 众举拳
    # https://www.czxiu.com/cz/diy-690.html
    _id = 1085
    n = 0 if len(s1) % 2 == 0 else 12
    s1 = s1.center(10, ' ')
    params = {
        '_csrf': csrf,
        'ZDiyForm[xpos]': 8 + n,
        'ZDiyForm[ypos]': 11,
        'ZDiyForm[image]': '/assets/7bbc7da5/material/diy/old/690.gif',
        'ZDiyForm[text]': s1,
        'ZDiyForm[font]': 'hzgb.ttf',
        'ZDiyForm[color]': '#ff0000',
        'ZDiyForm[color2]': '',
        'ZDiyForm[size]': 30,
        'ZDiyForm[size_zoom]': 0,
        'ZDiyForm[repeat_type]': 'none',
        'ZDiyForm[move_type]': 'none',
        'ZDiyForm[hideSignature]': 0
    }
elif type == 'ke_ai_bao_bao':
    # 可爱宝宝
    # https://www.czxiu.com/cz/diy-1063.html#main
    _id = 1571
    s1 = '\r\n'.join(s1)
    params = {
        '_csrf': csrf,
        'ZDiyForm[xpos]': 192,
        'ZDiyForm[ypos]': 14,
        'ZDiyForm[image]': '/assets/7bbc7da5/material/diy/old/1063.gif',
        'ZDiyForm[text]': s1,
        'ZDiyForm[font]': 'simhei.ttf',
        'ZDiyForm[color]': '#000000',
        'ZDiyForm[color2]': '',
        'ZDiyForm[size]': 16,
        'ZDiyForm[size_zoom]': 0,
        'ZDiyForm[repeat_type]': 'shadow',
        'ZDiyForm[repeat_size]': 1,
        'ZDiyForm[repeat_color]': '#ffffff',
        'ZDiyForm[repeat_color2]': '',
        'ZDiyForm[move_type]': 'none',
        'ZDiyForm[hideSignature]': 0
    }
elif type == 'warn_board':
    # 警告牌
    # https://www.czxiu.com/cz/wworning.html#main
    _id = 1515
    params = {
        '_csrf': csrf,
        'ZMultiForm[name]': '警告',
        'ZMultiForm[name2]': s1,
        'ZMultiForm[hideSignature]': 0
    }
elif type == 'mao_mi_ju_zhua':
    # 猫咪举爪
    # https://www.czxiu.com/cz/diy-982.html#main
    _id = 1428
    params = {
        '_csrf': csrf,
        'ZDiyForm[xpos]': int(288 / 2 - min((len(s1), 13)) * 288 / 13),
        'ZDiyForm[ypos]': 214,
        'ZDiyForm[image]': '/assets/7bbc7da5/material/diy/old/982.gif',
        'ZDiyForm[text]': s1,
        'ZDiyForm[font]': 'fzse.ttf',
        'ZDiyForm[color]': '#de4721',
        'ZDiyForm[color2]': '',
        'ZDiyForm[size]': 22,
        'ZDiyForm[size_zoom]': 0,
        'ZDiyForm[repeat_type]': 'border',
        'ZDiyForm[repeat_size]': 5,
        'ZDiyForm[repeat_color]': '#ffff00',
        'ZDiyForm[repeat_color2]': '#ffff66',
        'ZDiyForm[move_type]': 'none',
        'ZDiyForm[hideSignature]': 0,
    }
elif type == 'forest_backboard':
    # 森林黑板
    # https://www.czxiu.com/cz/diy-696.html#main
    _id = 1091
    s2 = ''
    for i in range(0, len(s1), 5):
        s2 += s1[i:i+5]+'\r\n'
    params = {
        '_csrf': csrf,
        'ZDiyForm[xpos]': 82,
        'ZDiyForm[ypos]': 30,
        'ZDiyForm[image]': '/assets/7bbc7da5/material/diy/old/696.gif',
        'ZDiyForm[text]': s2,
        'ZDiyForm[font]': 'fzyt.ttf',
        'ZDiyForm[color]': '#ffffff',
        'ZDiyForm[color2]': '',
        'ZDiyForm[size]': 26,
        'ZDiyForm[size_zoom]': 0,
        'ZDiyForm[repeat_type]': 'none',
        'ZDiyForm[move_type]': 'none',
        'ZDiyForm[hideSignature]': 0,
    }
else:
    type = 'ju_pai_xiao_ren'
    _id = 1700
    # 举牌小人
    # https://www.czxiu.com/cz/2017jupai.html
    s1 = s1.replace('，', '\r\n')
    s1 = s1.replace('。', '\r\n')
    s1 = s1.replace('、', '\r\n')
    s1 = s1.replace('；', '\r\n')
    s1 = s1.replace('？', '\r\n')
    s1 = s1.replace('！', '\r\n')
    s1 = s1.replace(' ', '\r\n')
    params = {
        '_csrf': csrf,
        'ZMultiForm[text]': s1,
        'ZMultiForm[bg_color]': '#ffffff',
        'ZMultiForm[hideSignature]': 0
    }

query = dict(id=_id)
payload = urllib.urlencode(params)
headers = {
    'accept': "application/json, text/javascript, */*; q=0.01",
    'origin': "https://www.czxiu.com",
    'x-csrf-token': "1C1bvwruvKNpqmbPRYd2fqFy3mSiVp3guvSHIzsmM5_kaSrxU6Ta0xGaDuIN9xkcyESLNY9u6dPqob51WhNX0w==",
    'x-requested-with': "XMLHttpRequest",
    'cookie': 'PHPSESSID=ecc0772d3a96121a4684937e8265c16d; '
              '_csrf=ec8e32502613fb75035020b1923bd71c9613a486d1d885ca73c3962d16d6822da%3A2%3A%7Bi%3A0%3Bs%3A5%3A'
              '%22_csrf%22%3Bi%3A1%3Bs%3A32%3A%220DqNYJfpx0h-Hpobi6UQ-8t3PU9Va5dL%22%3B%7D; '
              'UM_distinctid=169f4459f7247b-096f4e124b4ef8-6b36017b-fa000-169f4459f732; '
              'CNZZDATA404313=cnzz_eid%3D2134223424-1554578820-%26ntime%3D1554578820; '
              'czxiu_used_styles=c246cb6bd2ae7e703cb0223ece638f297ce93cd967dd59f86e55d57b456cee51a%3A2%3A%7Bi%3A0%3Bs'
              '%3A17%3A%22czxiu_used_styles%22%3Bi%3A1%3Bs%3A10%3A%22%2C1700%2C1460%22%3B%7D',
    'user-agent': "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4) AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/74.0.3729.6 Safari/537.36",
    'content-type': "application/x-www-form-urlencoded"
}
# raise Exception('', _id) 
response = web.post('https://www.czxiu.com/style/make', data=payload, headers=headers, params=query)
if response.status_code != 200:
	sys.stdout.write('网络不畅或者服务不可用') 
data = response.json()
if 'url' in data:
    img = 'https://www.czxiu.com/' + data['url']
    file_name = datetime.datetime.now().strftime('%Y_%m_%d_%H_%M_%S.gif')
    file_path = os.path.join('/tmp', file_name)
    web.get(img).save_to_path(file_path)
    subprocess.call(['./clipfile', file_name])
else:
	sys.stdout.write(response.text)
sys.stdout.write('生成的表情到剪切板了')</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86A1B35C-DA60-4893-A356-F246564D848C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FBA2F446-C900-4F11-9841-B537DF513C53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>86A1B35C-DA60-4893-A356-F246564D848C</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>AD48775E-11EE-4191-AA21-A7E23D1F8621</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>FBA2F446-C900-4F11-9841-B537DF513C53</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
